<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="shared/_layout" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <h2>Parents table</h2>
    <div class="float-sm-left">
        <a href="http://localhost:5050/parent/create/">
            <span class="btn btn-dark">
                Sign new parent
            </span>
        </a>
    </div>
    <br>
    <br>
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone number</th>
            <th scope="col">Number of Children</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="parent :  ${parents}">
            <th th:text="${parent.id}" scope="row"></th>
            <td th:text="${parent.first_name}"></td>
            <td th:text="${parent.last_name}"></td>
            <td th:text="${parent.address}"></td>
            <td th:text="${parent.phone_no}"></td>
            <td th:text="${parent.children_no}"></td>
            <td><a class="nav-link" th:href="@{'http://localhost:5050/parent/update/'+${parent.id}}"><span class="btn btn-danger">Update parent</span></a></td>
            <td><a class="nav-link" th:href="@{'http://localhost:5050/parent/delete/'+${parent.id}}"><span class="btn btn-danger">Delete parent</span></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>