<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="shared/_layout" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <h2>Waiting List</h2>
    <div class="float-sm-left">
        <a href="http://localhost:5050/child/index/">
            <span class="btn btn-dark">
                Go back
            </span>
        </a>
    </div>
    <br>
    <br>
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Is Active</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="child :  ${children}">
            <th th:text="${child.id}" scope="row"></th>
            <td th:text="${child.first_name}"></td>
            <td th:text="${child.last_name}"></td>
            <td th:text="${child.age}"></td>
            <td th:text="${child.is_active}"></td>
            <td><a class="nav-link" th:href="@{'http://localhost:5050/child/accept/'+${child.id}}"><span class="btn btn-danger">Accept</span></a></td>
            <td><a class="nav-link" th:href="@{'http://localhost:5050/child/delete/'+${child.id}}"><span class="btn btn-danger">Delete Child</span></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>