<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="shared/_layout" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <h2>Employee table</h2>
    <div class="float-sm-left">
        <a href="http://localhost:5050/employee/create/">
            <span class="btn btn-dark">
                Add Employee
            </span>
        </a>
    </div>
    <br>
    <br>
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">PIN</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone number</th>
            <th scope="col">Work days</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee :  ${employees}">
            <th th:text="${employee.id}" scope="row"></th>
            <td th:text="${employee.pin}"></td>
            <td th:text="${employee.first_name}"></td>
            <td th:text="${employee.last_name}"></td>
            <td th:text="${employee.address}"></td>
            <td th:text="${employee.phone_no}"></td>
            <td th:text="${employee.work_days}"></td>
            <td><a class="nav-link" th:href="@{'http://localhost:5050/employee/update/'+${employee.id}}"><span class="btn btn-danger">Update employee</span></a></td>
            <td><a class="nav-link" th:href="@{'http://localhost:5050/employee/delete/'+${employee.id}}"><span class="btn btn-danger">Delete employee</span></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>